@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.container{
  float : left;
  height : 100%;
  width : 100%;
  /* background-color: #02a8a8; */
  /* background-image: url(./srcImages/bgTest2.png); */
  background-image: url(./srcImages/musicbg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#canvasDiv{  
  float:left;
}

#mainCanvas {
  /* background-color: #4DDFEB; */
  /* background-color: #1b2d3b; */
  /* background-image: url(./srcImages/backgroundFinal.jpg); */
  float:left;
  background-color: rgba(92, 92, 138, 0.8);
  background-repeat: no-repeat;
  background-size:cover;
  margin : 0.5vmin;
  border-radius: 5%;
  border: 5px outset rgb(41, 41, 61);
  width: 70vw ;
  height: 75vh;
}

#SideBar{
  /* background-image: url(./srcImages/brick.jpg); */
  background-color: rgba(92, 92, 138, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
  width: 25vw;
  height: 90vh;
  margin: 1vmin;
  border-radius: 5%;
  border: 5px outset rgb(41, 41, 61);
}

.notesBox {
  width: 85%;
  height: 42%;
  display:table;
  margin: auto;
  /* Since this is contained in div use % not view port */

  background-color:rgba(92, 92, 138, 1);
  color: white;
  border: 1px solid black;
  word-break: break-all;
  /* word-break makes so when text reaches width of container will auto newline */
  font-size: 4vmin;
  padding: 1vmin;
  /* padding: 1vw, 1vh; */
  border-radius: 5%;
  border: 5px outset rgb(41, 41, 61);
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}


.dropbtn {
  background-color: rgb(61, 61, 92);
  color: white;
  padding: 1vmin;
  font-size: 3vmin;
  border: none;
  border-radius: 25px;
  display:block;
  width: 20vw;
  position: relative;
  left: 3vw;
  height: 10vh;
  border: 5px outset rgb(41, 41, 61);
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 15vw;
  
  text-align: center;
}


.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #f1f1f1;
  min-width: 160px;
  position:relative;
  height: 12vh;
  overflow-y: scroll;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  /* padding-left: 1000px; */
  font-size: 2.5vmin;


}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(41, 41, 61)}

.buttonContainer{
  width : 100%;
  text-align:left;
}

.headings{
  
  color: black;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(61, 61, 92); */
  font-family: 'Lobster', cursive;
  font-size: 5vmin;
}

.title{
  font-size: 8vmin;
  font-family: 'Lobster', cursive;
  background-color: rgba(92, 92, 138, 0.8);
  border-radius: 20px;
  border: 5px outset rgb(41, 41, 61);

}
